/* Define standard variables and values for website */
$bgcolor: rgb(52, 49, 54);
$textcolor: white;
$fontsize: 18px;
$kanan: 550px;

/* Use the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}
img{
    position: absolute;
    left: $kanan;
    top: 150px;
    z-index: -1;
    height: 80px;
}
img.h1{
    text-align: center;
}
